<div class="card">
    <div class="card-header">
        Tags Association
    </div>
    <div class="card-body">        
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">nivel 1</th>
                        <th scope="col">nivel 2</th>
                        <th scope="col">nivel 3</th>
                        <th scope="col">nivel 4</th>
                    </tr>
                </thead>
                <tbody>                                                                                  
                    <tr *ngFor="let product of Tags">
                        <!-- Crear dinámicamente las celdas de la tabla -->
                        <td *ngFor="let column of getColumnNames(Tags)">
                          {{ product[column] }}
                        </td>
                      </tr>
                </tbody>
            </table>
        </div>        
    </div>    
</div>
